<div class="banner" style="background-image: url(<%= cl_image_path @collection.banner.key %>)">
  <div class="wrapper">
    <div class="avatar-wrapper">
      <%= cl_image_tag @collection.photo.key, class: "avatar-sqaure" %>
    </div>
  </div>
</div>
<div class="banner-seperator">
</div>
<div class="wrapper border-bottom">
  <div>
    <p class="fs-2 fw-bold"><%= @collection.name %></p>
    <p class="fs-6 my-0 mb-1">Total items <span class="fw-bold"><%= @collection.tokens.count %></span> <span class="mx-1">·</span> Created <span class="fw-bold"><%= @collection.created_at.strftime("%b %Y") %></span> <span class="mx-1">·</span> Chain <span class="fw-bold">Ethereum</span></p>
    <p><%= @collection.description %></p>
  </div>
</div>
<div class="wrapper">
  <p class="fs-5 fw-bold mb-3 mt-3"><%= @collection.tokens.count %> items</p>
  <div>
    <div class="row justify-content-between" style="height: 200px;">
      <% @collection.tokens.each_with_index do |token, index| %>
        <div class="col-12 col-sm-6 col-md-3 mb-4 ">
          <div class="flip">
            <div class="card front bg-white">
              <img src="<%= cl_image_path token.photo.key %>" class="card-img-top" alt="">
              <div class="card-body">
                <p class="card-text fw-bold my-0 mb-1"><%= token.collection.name %> <span class="fw-bold">#<%= index + 1 %></span></p>
                <p class="fw-bold fs-5 my-0">0.030 ETH</p>
                <% if token.user %>
                  <p class="text-muted">Owned by <%= token.user.username %></p>
                <% end %>
              </div>
            </div>
            <div class="back d-flex flex-column text-center">
              <div class="p-3 my-auto">
                <h2><%= token.collection.name %> <span class="fw-bold">#<%= index + 1 %></span></h2>
                <p><%= @collection.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
