<div class="my-div navbar hidden-tablet hidden-phone">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |form| %>
  <div class="my-div">
  <%= image_tag "logo.png", style: 'height:50px;margin-bottom:20px;' %>
  <button class="eth_connect main-button">Connect Metamask</button>
  <%= form.text_field :email, class: "input4 form-control", placeholder: "Email"%> <br />
  <%= form.text_field :username, class: "input4 form-control", placeholder: "Username"  %> <br />
  <%= form.text_field :password, class: "input4 form-control", placeholder: "Password", type: "password"  %> <br />
  <%= form.select :account_type, options_for_select([["user", "user"], ["business", "business"]]), {prompt: "Account type"}, {class: "acc-type form-control"} %>
  <%= form.label "Profile photo" %>
  <%=form.file_field :photo, as: :file, label: "Add a picture", required: true, class: "input4 form-control" %> <br />
  <%= form.label "Banner image" %>
  <%=form.file_field :banner, as: :file, label: "Add a picture", required: true, class: "input4 form-control" %> <br />
  <%= form.text_field :eth_address, class: "eth_address d-none" %> <br />
  <button class="eth_connect main-button">Sign up</button>
  <%= render "devise/shared/links" %>

  </div>
<% end %>

  <script>
    const buttonEthConnect = document.querySelector('button.eth_connect');
    console.log(buttonEthConnect, "button eth connect")
    // the read-only eth address field, we process that automatically
    const formInputEthAddress = document.querySelector('input.eth_address');
    console.log(formInputEthAddress, "formInputEthAddress")
    // get the user form for submission later
    const formNewUser = document.querySelector('form.new_user');
    console.log(formNewUser, "formNewUser")
    // only proceed with ethereum context available
    if (typeof window.ethereum !== 'undefined') {
      buttonEthConnect.addEventListener('click', async () => {

        // request accounts from ethereum provider
        const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        // populate and submit form
        console.log(accounts[0], "eth")
        formInputEthAddress.value = accounts[0];
        console.log(formInputEthAddress.value, "new address input value")
        formNewUser.submit();
      });
    }
  </script>
</div>
