<div class="banner" style="background-image: url(<%= cl_image_path @business.user.banner.key %>)">
  <div class="wrapper">
    <div class="avatar-wrapper">
      <%= cl_image_tag @business.user.photo.key, class: "avatar-user" %>
    </div>
  </div>
</div>
<div class="banner-seperator">
</div>
<div class="wrapper border-bottom mb-1">
  <div>
    <p class="fs-2 fw-bold"><%= @business.name %></p>
    <p><span class="fw-bold"><%= @business.created_at.strftime("%b %Y") %></span></p>
    <p><%= @business.description %></p>
  </div>
</div>
<div class="border-bottom">
  <div class="carousel-container">
    <div class="carousel">
      <% @business.collections.each do |collection| %>
        <%= link_to biz_business_collection_path(@business, collection) do %>
          <div class="item h-100">
            <div class="card scroll-card">
              <div class="card-background-img" style="background-image: url(<%= cl_image_path collection.banner.key %>);">
              </div>
              <div class="card-content d-flex px-2 justify-content-center">
                <div class="px-2 py-3">
                  <p class="fw-bold m-0 text-dark"><%= collection.name %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper">
  <p class="fs-5 fw-bold mb-3 mt-3"><%= @business.tokens.count %> items</p>
  <div>
    <div class="row" style="padding-bottom: 80px;">
      <% @business.tokens.each do |token| %>
        <div class="col-12 col-sm-6 col-md-3 mb-4 ">
          <div class="flip">
            <div class="card front bg-white">
              <% if token.photo.key %>
                <img src="<%= cl_image_path token.photo.key %>" class="card-img-top" alt="">
              <% end %>
              <div class="card-body">
                <p class="card-text fw-bold my-0 mb-1"><%= token.collection.name %> <span class="fw-bold">#<%= token.identifier %></span></p>
                <p class="fw-bold fs-5 my-0">0.030 ETH</p>
                <% if token.user %>
                  <p class="text-muted">Owned by <%= token.user.username %></p>
                <% end %>
              </div>
            </div>
            <div class="back d-flex flex-column text-center">
              <div class="p-3 my-auto">
                <h2><%= token.collection.name %> <span class="fw-bold">#<%= token.identifier %></span></h2>
                <p><%= token.collection.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="footer-container">
  <%= link_to biz_business_tokens_path(@business.id) do %>
    <div class="footer-sm-container">
    <% if current_page?(biz_business_tokens_path(@business.id)) %>
      <%= image_tag 'Map_active.svg', class: "footer-icon" %>
    <% else %>
      <%= image_tag 'Map.svg', class: "footer-icon" %>
    <% end %>
    <% end %>
    <%= content_tag :div, "", class: "footer-title" %>
  </div>

  <%= link_to new_biz_business_collection_path(current_user.business.id) do %>
    <div class="footer-sm-container">
    <% if current_page?(new_biz_business_collection_path(current_user.business.id)) %>
      <%= image_tag 'Plus_active.svg', class: "footer-icon"%>
    <% else %>
      <%= image_tag 'Plus.svg', class: "footer-icon"%>
    <% end %>
    <% end %>
    <%= content_tag :div, "", class: "footer-title" %>
  </div>

  <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
    <div class="footer-sm-container">
      <%= image_tag 'Logout_active.svg', class: "footer-icon" %>
    <% end %>
    <%= content_tag :div, "", class: "footer-title" %>
  </div>
</div>
