<div class="col-12 col-sm-6 col-md-3 mb-4 ">
  <div class="flip">
    <div class="card front bg-white">
      <% if token.photo.key %>
        <img src="<%= cl_image_path token.photo.key %>" class="card-img-top" alt="">
      <% end %>
      <div class="card-body">
        <p class="card-text fw-bold my-0 mb-1"><%= token.collection.name %> <span class="fw-bold"><%= token.identifier %></span></p>
        <p class="fw-bold fs-5 my-0">0.030 ETH</p>
        <% if token.user %>
          <p class="text-muted">Owned by <%= token.user.username %></p>
        <% end %>
      </div>
    </div>
    <div class="back d-flex flex-column text-center">
      <div class="p-3 my-auto">
        <h2><%= token.collection.name %> <span class="fw-bold">#<%= token.identifier %></span></h2>
        <p><%= @collection.description %></p>
      </div>
    </div>
  </div>
</div>
