<div class="my-div navbar hidden-tablet hidden-phone">

<%= image_tag "logo.png", style: 'height:50px;margin-bottom:20px;' %>

<%= simple_form_for [:biz, @token], url: biz_business_collection_token_path(@collection.business, @collection) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address,
                label: false,
                placeholder: 'Collection name',
                required: true,
                autofocus: true,
                input_html: {  class: 'input' } %>

    <%= f.input :description,
                required: true,
                placeholder: 'Description',
                label: false,
                input_html: { class: 'input'  } %>
  </div>

  <div class="form-actions main-button">
    <%= f.submit "Create collection", class: 'main-button' %>
  </div>
<% end %>