<div class="my-div navbar hidden-tablet hidden-phone">

<%= image_tag "logo.png", style: 'height:50px;margin-bottom:20px;' %>

<%= simple_form_for [:biz, @token], url: biz_business_collection_tokens_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address,
                label: false,
                placeholder: 'Address',
                required: true,
                autofocus: true,
                input_html: {  class: 'input' } %>
    <%= f.input :photo, as: :file, required: true, input_html: { class: 'input1' } %>
  </div>
  <div class="form-actions main-button">
    <%= f.submit "Create Token", class: 'main-button' %>
  </div>
<% end %>