<div class="my-div navbar hidden-tablet hidden-phone">
  <%= image_tag "logo.png", style: 'height:50px;margin-bottom:30px;' %>
  <%= simple_form_for [:biz, @collection], url: biz_business_collections_path do |f| %>
    <%= f.error_notification %>
    <p style="text-align:center;margin-bottom:30px;">Creating a new collection</p>
    <div class="form-inputs">
      <%= f.input :name,
                label: false,
                placeholder: 'Collection name',
                required: true,
                autofocus: true,
                input_html: {  class: 'input' } %>
      <%= f.text_area :description,
                rows: 5,
                required: true,
                placeholder: 'Description',
                label: false,
                input_html: { class: 'input' },
                class: "w-100 bg-transparent form-control mb-3",
                style: "padding: 5px 10px; border-radius: 8px; border: 1px solid #ced4da; resize: none;" %>
      <%= f.input :category, collection: ['Art', 'PFP', 'Digital Asset', 'Membership Pass', 'Voucher', 'Collectible', 'Ticket'], prompt: 'Please select a category', input_html: { class: 'input1' } %>
      <%= f.input :banner, as: :file, input_html: { class: 'input1' } %>
      <%= f.input :photo, as: :file, input_html: { class: 'input1' } %>
    </div>
    <div class="form-actions main-button">
      <%= f.submit "Create collection", class: 'main-button' %>
    </div>
  <% end %>

<%# footer nav %>
  <div class="footer-container">
    <%= link_to biz_business_tokens_path do %>
    <div class="footer-sm-container">
      <% if current_page?(biz_business_tokens_path) %>
        <%= image_tag 'Map_active.svg', class: "footer-icon" %>
      <% else %>
        <%= image_tag 'Map.svg', class: "footer-icon" %>
      <% end %>
      <% end %>
      <%= content_tag :div, "", class: "footer-title" %>
    </div>

    <%= link_to new_biz_business_collection_path(current_user.business.id) do %>
    <div class="footer-sm-container">
    <% if current_page?(new_biz_business_collection_path(current_user.business.id)) %>
      <%= image_tag 'Plus_active.svg', class: "footer-icon"%>
    <% else %>
      <%= image_tag 'Plus.svg', class: "footer-icon"%>
    <% end %>
    <% end %>
    <%= content_tag :div, "", class: "footer-title" %>
    </div>

    <%= link_to user_path(current_user) do %>
    <div class="footer-sm-container">
      <% if current_page?(user_path(current_user)) %>
        <%= image_tag 'User_active.svg', class: "footer-icon" %>
      <% else %>
        <%= image_tag 'User.svg', class: "footer-icon" %>
      <% end %>
      <% end %>
      <%= content_tag :div, "", class: "footer-title" %>
    </div>
  </div>
