<div class="banner" style="background-image: url(<%= cl_image_path @collection.banner.key %>)">
  <div class="wrapper">
    <div class="avatar-wrapper">
      <%= cl_image_tag @collection.photo.key, class: "avatar-square" %>
    </div>
  </div>
</div>
<div class="banner-seperator">
</div>
<div class="wrapper border-bottom">
  <div>
    <p class="fs-2 fw-bold mb-0"><%= @collection.name %></p>
    <a href="<%= business_path(@collection.business) %>" class="text-decoration-none text-dark">By <span class="fw-bold"><%= @collection.business.name %></span></a>
    <p class="fs-6 my-0 mb-1 mt-2">Total items <span class="fw-bold"><%= @collection.tokens.count %></span> <span class="mx-1">·</span> Created <span class="fw-bold"><%= @collection.created_at.strftime("%b %Y") %></span> <span class="mx-1">·</span> Chain <span class="fw-bold">Ethereum</span></p>
    <p><%= @collection.description %></p>
  </div>
</div>
<div class="wrapper">
  <p class="fs-5 fw-bold mb-3 mt-3"><%= @collection.tokens.count %> items</p>
  <div>
    <div class="row" style="padding-bottom: 80px;">
      <% @collection.tokens.each_with_index do |token, index| %>
        <div class="col-12 col-sm-6 col-md-3 mb-4 ">
          <div class="flip">
            <div class="card front bg-white">
              <% if token.photo.key %>
                <img src="<%= cl_image_path token.photo.key %>" class="card-img-top" alt="">
              <% end %>
              <div class="card-body">
                <p class="card-text fw-bold my-0 mb-1"><%= token.collection.name %> <span class="fw-bold">#<%= index + 1 %></span></p>
                <p class="fw-bold fs-5 my-0">0.030 ETH</p>
                <% if token.user %>
                  <p class="text-muted">Owned by <%= token.user.username %></p>
                <% end %>
              </div>
            </div>
            <div class="back d-flex flex-column text-center">
              <div class="p-3 my-auto">
                <h2><%= token.collection.name %> <span class="fw-bold">#<%= index + 1 %></span></h2>
                <p><%= @collection.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user == @collection.business.user %>
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <%= link_to new_biz_business_collection_token_path(@collection.business.id, @collection.id), class: "text-decoration-none" do %>
            <div class="d-flex justify-content-center card front fs-5 text-center" style="padding: 8rem 0;">
              <i class="fa-solid fa-plus fs-1 text-dark"></i>
              <p class="text-dark" style="margin: 0;">Add a New Token</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="footer-container">
  <%= link_to new_biz_business_collection_path(current_user.business.id) do %>
    <div class="footer-sm-container">
      <%= image_tag 'Plus.svg', class: "footer-icon"%>
    <% end %>
    <%= content_tag :div, "Create", class: "footer-title" %>
  </div>
  <%= link_to biz_business_tokens_path(@collection.business.id) do %>
    <div class="footer-sm-container">
      <%= image_tag 'Map.svg', class: "footer-icon" %>
    <% end %>
    <%= content_tag :div, "Map", class: "footer-title" %>
  </div>
  <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
    <div class="footer-sm-container">
      <%= image_tag 'Logout.svg', class: "footer-icon" %>
    <% end %>
    <%= content_tag :div, "Logout", class: "footer-title" %>
  </div>
</div>
