<div class="bg-white p-3 position-fixed fixed-bottom d-flex flex-column card-popup-token">
  <div class="d-flex flex-row gap-3">
    <%= cl_image_tag(token.photo.key, height: 150, style:"border-radius: 0.5rem") %>
    <div class="flex-grow-1 position-relative">
      <a class="text-decoration-none position-absolute top-0 end-0 m-0" href="#"data-action="click->map#close"><i class="fs-4 fa-solid fa-xmark"></i></a>
      <h3 style="max-width: 150px;"><%= token.collection.name %> #<%= token.identifier %></h3>
      <p class="text-muted"><i class="fa-solid fa-location-dot"></i> <span data-map-target="counter"></span>km away</p>
      <%= link_to business_path(token.business.id), class: "text-decoration-none" do %>
        <span class="lh-sm mb-1 text-primary" style="padding: 0.4rem; outline: 2px solid #7871FF; outline-offset: -2px; border-radius: 0.5rem;">Minted by <span class="fw-bold"><%= token.business.name %></span></span>
      <% end %>
    </div>
  </div>
  <p class="lh-sm mt-3"><%= token.business.description %></p>
  <a data-map-target="button" class="btn btn-primary text-light fw-medium mb-2 form-control" data-bs-target="#staticBackdrop"></a>
</div>
<%# POPUP MODAL %>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-controller="game">
  <div class="modal-dialog modal-dialog-centered" style="height: 90vh;">
    <div class="modal-content rounded-4" style="height: 100%;">
      <div class="modal-header" style="background-color: lightgrey;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body h-5" style="background-color: lightgrey; font-size: 10px; box-sizing: border-box;">
        <h1 class="d-flex justify-content-center" style="text-align: center; line-height:1; margin-bottom: 0;">Whack the NFT 5 times to claim it! <span data-game-target="score" class="score d-flex align-items-center">0</span></h1>
        <div class="controls">
          <button data-game-target="button" data-action="click->game#startGame" class="btn btn-primary" style="border-radius: 8px;">Start!</button>
        </div>
        <div class="game">
          <div data-game-target="hole" class="hole hole1">
            <div data-action="click->game#bonk" data-game-target="mole" class="mole" style="background-image: url(<%= cl_image_path token.photo.key %>);"></div>
          </div>
          <div data-game-target="hole" class="hole hole2">
            <div data-action="click->game#bonk" data-game-target="mole" class="mole" style="background-image: url(<%= cl_image_path token.photo.key %>);"></div>
          </div>
          <div data-game-target="hole" class="hole hole3">
            <div data-action="click->game#bonk" data-game-target="mole" class="mole" style="background-image: url(<%= cl_image_path token.photo.key %>);"></div>
          </div>
          <div data-game-target="hole" class="hole hole4">
            <div data-action="click->game#bonk" data-game-target="mole" class="mole" style="background-image: url(<%= cl_image_path token.photo.key %>);"></div>
          </div>
          <div data-game-target="hole" class="hole hole5">
            <div data-action="click->game#bonk" data-game-target="mole" class="mole" style="background-image: url(<%= cl_image_path token.photo.key %>);"></div>
          </div>
          <div data-game-target="hole" class="hole hole6">
            <div data-action="click->game#bonk" data-game-target="mole" class="mole" style="background-image: url(<%= cl_image_path token.photo.key %>);"></div>
          </div>
        </div>
        <!-- Final Message -->
        <div data-game-target="winPopup" class="result-popup-win d-none">
          You won!
          <%= simple_form_for(token, url: token_capture_path(token), method: "get") do |f| %>
            <%= f.button :submit,
                          "Claim your Token",
                          class: "btn btn-secondary text-light fw-medium mb-2 form-control rounded-4" %>
          <% end %>
        </div>
        <div data-game-target="losePopup" class="result-popup-lose d-none">
          You lose!
          <button data-action="click->game#reset" class="btn btn-secondary text-light fw-medium mb-2 form-control rounded-4">Try Again</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <% if rand(2) == 1 %>
<%# <div>
    <p class="fs-1 text-center pt-4 pb-5">Success!</p>
    <%= simple_form_for(token, url: token_capture_path(token), method: "get") do |f| %>
  <%# <% f.button :submit,
                          "View your Token",
                          class: "btn btn-secondary text-light fw-medium mb-2 form-control rounded-4" %>
  <%# <% end %>
  <%# </div>
<% else %>
  <%# <p class="fs-1 text-center pt-4 pb-5">Sorry, try again</p>
<% end
