<div style="width: 100%; height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">


<%# footer nav %>
  <div class="footer-container">
    <%= link_to businesses_path do %>
    <div class="footer-sm-container">
      <%= image_tag 'Search.svg', class: "footer-icon"%>
      <% end %>
      <%= content_tag :div, "Search", class: "footer-title" %>
    </div>

    <%= link_to tokens_path do %>
    <div class="footer-sm-container">
      <%= image_tag 'Map.svg', class: "footer-icon" %>
      <% end %>
      <%= content_tag :div, "Map", class: "footer-title" %>
    </div>

    <%= link_to user_path(current_user) do %>
    <div class="footer-sm-container">
      <%= image_tag 'User.svg', class: "footer-icon" %>
      <% end %>
      <%= content_tag :div, "Profile", class: "footer-title" %>
    </div>
  </div>

  <%# map popup %>
  <div data-map-target="popup" class="popup-token">
  </div>
</div>
<%# end of footer nav %>
