<html>
  <head>
    <title>CATCH! NFT Discovery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        margin: 0px;
        padding: 30px;
        font-family: TREBUCHET, sans-serif;
      }
      .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
      }
      .btn-back {
        display: inline-block;
        padding: 10px 20px;
        font-weight: bold;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        margin-bottom: 20px;
        border-radius: 56px;
        text-decoration: none;

      }
      h1 {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .token-photo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        border-radius: 24px;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
      }
      /* .btn-voucher {
        display: inline-block;
        padding: 10px 20px;
        background-color: #FFCF72;
        color: black;
        text-decoration: none;
        border-radius: 15px;
        font-weight: bold;
      } */
      .token-description {
        text-align: left;
        color: gray;
        margin-top: 20px;
      }
      .btn{
        text-align: center;
      }
      .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        background-color: #7871FF;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        width: 170px;
        text-align: center;
      }
      .social-share{
        text-align: center;
      }
      .fa-whatsapp {
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: green;
        text-decoration: none;
        padding-right: 10px;
      }
      .fa-facebook {
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: #2B46DF;
        text-decoration: none;
        padding-right: 10px;
      }
      .fa-telegram{
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: #51A6E8;
        text-decoration: none;
        padding-right: 10px;
      }
      .fa-linkedin{
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: #2AB6FC;
        text-decoration: none;
        padding-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="btn-group-top">
        <%= link_to "Back", user_path(@user), class: "btn-back" %>
      </div>
    <img src="<%= cl_image_path @token.photo.key %>" alt="Token Photo" class="token-photo">
    <h1><%= token.collection.name %> <%= token.identifier %></h1>
    <p class="token-description"><%= token.description %></p>
    <br>
    <p class="token-conditions"><%= token.conditions %></p>
    <br>
    <a href="#" class="btn btn-primary">Authenticate</a>
    <br>
    <div class="social-share">
      <a href="https://web.whatsapp.com/send?Check out my new NFT!=#{title}%0A#{url}" i class="fa-brands fa-whatsapp"> </i></a>
      <a href="https://t.me/share/url?url={url}&text=Check out my new NFT!" i class="fa-brands fa-telegram"></i></a>
      <a href="http://www.facebook.com/sharer/sharer.php?u=#{url}", 555, 400, i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=#{url}&title=#{title}&summary=#{desc}", i class="fa-brands fa-linkedin"></i></a>
    </div>
    </div>
  </body>
</html>

<%#
    Social share buttons %>

<%# hardcode:
    proof of ownership
    authenticate button
    nft scan link
    success message: authenticated! %>
