<html>
  <head>
    <title>CATCH! NFT Discovery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html {
        min-height: 100vh;
        /* overflow: hidden; */
      }

      body {
        margin: 0px;
        padding: 30px 30px 0 30px;
      }
      .main-container {
        max-width: 500px;
        /* min-height: 100vh; */
        margin: 0 auto;
      }
      .btn-back {
        display: inline-block;
        padding: 10px 20px;
        font-weight: bold;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        margin-bottom: 20px;
        border-radius: 56px;
        text-decoration: none;
      }
      h1 {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px
      }
      .token-photo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        border-radius: 24px;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        text-align: center;
      }
      .token-description {
        text-align: left;
        color: black;
        background-color: #FFCF72;
        margin-top: 20px;
        border: solid 2px black;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        width: fit-content;
      }
      .token-conditions {
        text-align: left;
      }
      .social-share{
        text-align: center;
        margin-bottom: 10rem;
      }
      .authenticate{
        text-align: center;
      }
      .fa-whatsapp {
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: green;
        text-decoration: none;
        padding-right: 10px;
      }
      .fa-facebook {
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: #2B46DF;
        text-decoration: none;
        padding-right: 10px;
      }
      .fa-telegram{
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: #51A6E8;
        text-decoration: none;
        padding-right: 10px;
      }
      .fa-linkedin{
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: #2AB6FC;
        text-decoration: none;
        padding-right: 10px;
      }
      .fa-twitter{
        margin-top: 30px;
        display: inline-block;
        font-size: 30px;
        color: #2AB6FC;
        text-decoration: none;
        padding-right: 10px;
      }
      .btn{
        padding: 10px 60px;
        background: #7871FF;
        border: 0;
        outline: none;
        font-size: 20px;
        border-radius: 30px;
      }
      .popup{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
      }
      .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
      }
      .img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
      .popup h2{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px 0;
        background: white;
        color: black;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
      .auth-container{
        text-align: center;
      }
      .btn-btm{
        margin-top: 20px;
        padding: 10px 60px;
        background: #7871FF;
        border: 0;
        outline: none;
        font-size: 20px;
        border-radius: 30px;
      }
      .photo-back {
        border-radius: 24px;
      }
      .back {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <%= link_to "Back", user_path(@user), class: "btn-back" %>
    <!--Back button-->
    <!--Photo flip-->
      <br>
      <div class="flip-token mx-auto">
        <div class="card front bg-white">
          <img id="frontimage" src="<%= cl_image_path @token.photo.key %>" alt="Token Photo" class="photo-front">
        </div>
        <div class="back d-flex flex-column text-center">
          <%= image_tag "misc/qr-code-real.png", class: "photo-back" %>
        </div>
      </div>
    <!--Token Details-->
      <h1><%= @token.collection.name %> #<%= @token.identifier %></h1>
      <p class="token-description"><%= @token.description %></p>
      <h4>Terms & Conditions</h4>
      <p class="token-conditions"><%= @token.conditions %></p>
    <!--Authentication button-->
    <div class="auth-container">
      <button type="submit" class="btn" onclick="openPopup()">Authenticate</button>
      <div class="popup" id="popup">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
          <%= image_tag "misc/authenticated.png", class: "img" %>
          <h2>Your NFT has been verified! </h2>
          <a href="https://polygon.nftscan.com/<%= @link %>" class="auth-link">NFT Scan link</a>
          <br>
          <button type="button" class="btn-btm" onclick="closePopup()">OK</button>
        </div>
      </div>
    </div>
    <!--Share buttons-->
      <div class="social-share">
        <a href="https://api.whatsapp.com/send?text=https://catchnft.club/" data-action="share/whatsapp/share" i class="fa-brands fa-whatsapp"> </i></a>
        <a href="https://t.me/share/url?url=https://catchnft.club/&text=Check out my new NFT!" i class="fa-brands fa-telegram"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://catchnft.club", 555, 400, i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/intent/tweet?text=Check%20out%20my%20new%20NFT!%20@%20https://catchnft.club", 555, 400, i class="fa-brands fa-twitter"></i></a>
      </div>
    </div>
    <!--Footer-->
    <div class="footer-container">
      <%= link_to businesses_path do %>
        <div class="footer-sm-container">
          <%= image_tag 'Search.svg', class: "footer-icon"%>
          <% end %>
          <%= content_tag :div, "Search", class: "footer-title" %>
        </div>

      <%= link_to tokens_path do %>
      <div class="footer-sm-container">
        <%= image_tag 'Map.svg', class: "footer-icon footer-active" %>
        <% end %>
        <%= content_tag :div, "Map", class: "footer-title" %>
      </div>

      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
      <div class="footer-sm-container">
        <%= image_tag 'Logout.svg', class: "footer-icon" %>
        <% end %>
        <%= content_tag :div, "Logout", class: "footer-title" %>
      </div>
    </div>
    <!--Javascript for popup-->
    <script>
      let popup = document.getElementById("popup");

      function openPopup() {
        popup.classList.add("open-popup");
      }

      function closePopup() {
        popup.classList.remove("open-popup");
      }

    </script>
  </body>
</html>


<%#
    authentication logic:
    from token id show
    click authenticate button
    link opens popup
    popup window contains nft scan iframe
    user clicks close button to close popup
    is returned to token show page
    %>
