<div class="my-div navbar hidden-tablet hidden-phone" data-controller="users">
  <%= image_tag "logo.png", style: 'height:70px;margin-bottom:80px;' %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.input :email,
                required: true,
                label: false,
                autofocus: true,
                placeholder: 'Email',
                input_html: { class: 'input' } %>
    <%= f.input :password,
                required: true,
                label: false,
                placeholder: 'Password',
                input_html: { class: 'input' } %>
    <div>
      <%= f.button :submit, "Log in", class: "main-button"%>
    </div>
  <% end %>


      <button class="eth_connect">Connect with Metamask</button>

  <script>
        const buttonEthConnect = document.querySelector('button.eth_connect');
    // the read-only eth address field, we process that automatically
    const formInputEthAddress = document.querySelector('input.eth_address');
    // get the user form for submission later
    const formNewUser = document.querySelector('form.new_user');
    // only proceed with ethereum context available
    if (typeof window.ethereum !== 'undefined') {
      buttonEthConnect.addEventListener('click', async () => {

        // request accounts from ethereum provider
        const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        // populate and submit form
        formInputEthAddress.value = accounts[0];
        formNewUser.submit();
      });
    }
  </script>
  <%= render "devise/shared/links" %>
</div>
